.container{
    display: flex;
    flex-wrap: wrap;
}
body{
    margin: 0;
    padding: 0;
}
.container div{
    background-color: brown;
    width: 75px;
    height: 100px;
    border: 1px dashed white;
    flex: 1 1 auto;
    color: white;
    text-align: center;
    font-size: x-small;
}